h1,
h2 {
  font-family: "inter";
  font-style: normal;
}

h1 {
  font-weight: 500;
}

.createContent-page {
  display: flex;
  flex-direction: column;

  .buttons {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin: 40px 0;
    .link-btn {
      height: 400px;
      width: 48%;
    }

    button {
      background-color: white;
      border: solid #75913d 1px;
      color: #75913d;
      height: 100%;
      width: 100%;
      font-size: 30px;
      font-weight: 100;

      &:hover {
        background-color: #75913d;
        color: white;
        cursor: pointer;
        transition: 0.3s;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }
    }
  }
}
