.last__div {
  display: flex;
  flex-direction: column;
  font-family: inter;
  margin-top: 30px;

  h1 {
    font-weight: 500;
  }

  .cards__div {
    display: flex;
    gap: 30px;

    .card__div {
      flex: 1;

      hr {
        border-top: 2px solid black;
        margin-bottom: 20px;
      }

      img {
        width: 100%;
        height: 230px;
        object-fit: cover;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
      img:hover {
        filter: grayscale(0%);
      }

      .card-titles__div {
        h2 {
          font-weight: 600;
          line-height: 0;
        }
        h3 {
          font-weight: 300;
          font-size: 12px;
        }
      }

      p {
        text-align: justify;
      }
    }
    .card__div:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  //   Voir plus...
  .more-infos__div {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    span {
      font-size: 11px;
      font-style: italic;
    }
    div.sqr {
      background-color: white;
      border: black solid 1px;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      font-size: 24px;
    }
  }
  .more-infos__div span:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .sqr:hover {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
  }
}
