.subscription__div {
  font-family: inter;
  margin-bottom: 150px;

  .quote__div {
    margin-top: 50px;
    width: 515px;
    hr {
      border-top: solid 2px black;
    }
    p {
      width: 100%;
      font-size: 16px;
      text-align: justify;
      line-height: 2;
      span {
        color: #75913d;
      }
    }
  }

  .rules__div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    line-height: 2;
    .link {
      text-decoration: none;
    }
    .link:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .col__div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      input {
        width: 100%;
        height: 40px;
      }
    }

    .row__div {
      display: flex;
      gap: 10px;

      .updload__button {
        border: solid 1px grey;
        height: 20px;
        background-color: white;
        color: grey;
        font-size: 14px;
      }
      .updload__button:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      span {
        font-style: italic;
        font-size: 13px;
      }
    }

    button {
      height: 60px;
      background-color: #75913d;
      color: white;
      font-size: 24px;
      border: none;
    }
    button:hover {
      cursor: pointer;
      background-color: white;
      border: solid #75913d 1px;
      color: #75913d;
    }
  }
}
