.subscription__div {
  font-family: inter;
  margin-bottom: 150px;

  .quote__div {
    margin-top: 50px;
    width: 100%;
    hr {
      border-top: solid 2px black;
    }
    p {
      width: 100%;
      font-size: 17px;
      text-align: justify;
      line-height: 2;
      span {
        color: #75913d;
      }
    }
    .big-quote__span {
      font-size: 26px;
      color: black;
    }
    .link {
      font-style: italic;
      font-size: 14px;
      text-decoration: none;
      color: black;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .options__div {
    display: flex;
    align-items: center;
    // gap: 50px;
    justify-content: space-between;
    margin-top: 100px;

    button,
    a {
      width: 600px;
      height: 70px;
      border: none;
      font-size: 20px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        color: white;
        transition: 0.5s;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }
    }

    .green__button {
      border: solid 1px #75913d;
      color: #75913d;
      &:hover {
        background-color: #75913d;
      }
    }

    .red__button {
      border: solid 1px #e10;
      color: #e10;
      &:hover {
        background-color: #e10;
      }
    }
  }

  div.informations {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .paperForm1-span {
      color: red;
    }
    .paperForm0-span {
      display: none;
    }
  }
}
