.blur {
  filter: blur(3px);
}

.subscription__div {
  font-family: inter;
  margin-bottom: 150px;

  .quote__div {
    margin-top: 50px;
    width: 100%;
    hr {
      border-top: solid 2px black;
    }
    p {
      width: 100%;
      font-size: 17px;
      text-align: justify;
      line-height: 2;
      span {
        color: #75913d;
      }
    }
    .big-quote__span {
      font-size: 26px;
      color: black;
    }
    .link {
      font-style: italic;
      font-size: 14px;
      text-decoration: none;
      color: black;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .options__div {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    margin-top: 100px;
    button,
    a {
      width: 700px;
      height: 70px;
      border: none;
      font-size: 20px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        color: white;
        transition: 0.5s;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }
    }

    .green__button {
      border: solid 1px #75913d;
      color: #75913d;
      &:hover {
        background-color: #75913d;
      }
    }

    a {
      border: solid 1px #e10;
      color: #e10;
      &:hover {
        background-color: #e10;
      }
    }
  }

  .rules__div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    line-height: 2;
    .link {
      text-decoration: none;
    }
    .link:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 25%;
    width: 600px;
    background-color: white;
    padding: 30px;
    border: black solid 1px;
    .col__div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      input {
        width: 100%;
        height: 40px;
      }
    }

    .row__div {
      display: flex;
      gap: 10px;

      .updload__button {
        border: solid 1px grey;
        height: 20px;
        background-color: white;
        color: grey;
        font-size: 14px;
      }
      .updload__button:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      span {
        font-style: italic;
        font-size: 13px;
      }
    }

    button {
      height: 60px;
      background-color: #75913d;
      color: white;
      font-size: 24px;
      border: none;
    }
    button:hover {
      cursor: pointer;
      background-color: white;
      border: solid #75913d 1px;
      color: #75913d;
    }
  }
}
