.header__div {
  // position: fixed;
  h1 {
    font-size: 26px;
    font-weight: 300;
    font-family: "Inter", sans-serif;
  }
  h2 {
    font-size: 16px;
    font-weight: 100;
    font-style: italic;
  }
  .header-title__div {
    border-bottom: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      height: 50px;
    }
  }
  .header-subtitle__div {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;

    .header-logos__div {
      display: flex;
      height: 18px;
      gap: 55px;
      img {
        height: 18px;
        object-fit: cover;
      }
      img:hover {
        cursor: pointer;
      }
    }
  }
  .header__nav {
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px #75913d;

    button:after,
    button:before {
      transition: all 0.4s;
    }

    button,
    .link {
      height: 100%;
      width: 182px;
      flex: 1;
      background-color: #75913d;
      border: none;
      color: white;
      font-family: "Inter", sans-serif;
      position: relative;
      z-index: 1;
    }

    button:hover {
      color: #75913d;
      cursor: pointer;
    }

    button:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 1px;
      content: ".";
      color: transparent;
      background: white;
      color: transparent;
      visibility: none;
      opacity: 0;
      z-index: -1;
    }

    button:hover:after {
      opacity: 1;
      visibility: visible;
      height: 100%;
    }

    .tooltip__button {
      position: relative;
      display: inline-block;
    }

    .tooltip__button .tooltip-txt__span {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px 0;

      /* Position the tooltip text - see examples below! */
      position: absolute;
      top: -50px;
      left: 35px;
    }
    .tooltip__button:hover .tooltip-txt__span {
      visibility: visible;
    }

    .tooltip__button .tooltip-txt__span::after {
      content: " ";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }
}
