.header__div {
  h1 {
    font-size: 26px;
    font-weight: 300;
    font-family: "Inter", sans-serif;
  }
  h2 {
    font-size: 16px;
    font-weight: 100;
    font-style: italic;
    margin-top: 20px;
  }
  .header-title__div {
    border-bottom: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      height: 50px;
    }

    .header-logos__div {
      display: flex;
      gap: 55px;
      img {
        height: 18px;
        object-fit: cover;
      }
      img:hover {
        cursor: pointer;
      }
    }
  }
  .header-subtitle__div {
    height: 70px;
    display: flex;
  }
  .header__nav {
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px #75913d;

    button:after,
    button:before {
      transition: all 0.4s;
    }

    button,
    .link {
      height: 100%;
      width: 200px;
      flex: 1;
      background-color: #75913d;
      border: none;
      color: white;
      font-family: "Inter", sans-serif;
      position: relative;
      z-index: 1;
    }

    button:hover {
      color: #75913d;
      cursor: pointer;
    }

    button:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 1px;
      content: ".";
      color: transparent;
      background: white;
      color: transparent;
      visibility: none;
      opacity: 0;
      z-index: -1;
    }

    button:hover:after {
      opacity: 1;
      visibility: visible;
      height: 100%;
    }
  }
}
