.footer__div {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  background-color: white;
  font-family: "inter";
  border-top: solid 1px black;
  hr {
    border-top: 1px solid black;
  }

  p {
    font-size: 12px;
  }

  nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 12px;
    margin-bottom: 10px;
    gap: 10px;

    span:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
