.footer__div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;

  hr {
    border-top: 2px solid black;
  }

  img {
    height: 50px;
    width: 180px;
  }

  p {
    font-size: 12px;
  }

  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px;

    span:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
