.heardquarterCard__div {
  display: flex;
  flex-direction: column;
  font-family: inter;
  line-height: 0.3;
  gap: 5px;
  width: 250px;
  img {
    height: 400px;
    object-fit: cover;
  }
  h2 {
    font-size: 20px;
    font-weight: 500;
  }
  h3 {
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
  }
  p {
    font-size: 14px;
  }
}
