.whoarewe__div {
  font-family: inter;
  margin-bottom: 150px;

  h1 {
    font-weight: 500;
    font-size: 28px;
  }

  .quote__div {
    margin-top: 50px;
    width: 515px;
    hr {
      border-top: solid 2px black;
    }
    p {
      width: 100%;
      font-size: 16px;
      text-align: justify;
      line-height: 2;
      span {
        color: #75913d;
      }
    }
  }

  .headquarter__div {
    margin-top: 50px;
    margin-bottom: 100px;

    .cards__div {
      display: flex;
      gap: 20px;
      height: 1200px;
      flex-wrap: wrap;
    }
  }
  .members__div {
    .membersList__div {
      font-size: 18px;
      column-count: 4;
      line-height: 2;

      span:hover {
        text-decoration: underline;
        cursor: pointer;
      }
      button {
        background-color: #75913d;
        color: white;
        height: 50px;
        width: 100%;
        font-size: 20px;
        border: none;
      }
      button:hover {
        background-color: white;
        color: #75913d;
        border: #75913d solid 1px;
        cursor: pointer;
      }
    }
  }
}
