div.green-sqr {
  font-family: "inter";
  background-color: #75913d36;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 460px;
  width: 300px;
  //   border: red solid 3px;

  div.event-card:hover {
    cursor: pointer;
    color: #e10000;
  }
  h1 {
    font-weight: 500;
    font-size: 20px;
  }

  h2,
  h3 {
    font-weight: 300;
    font-size: 16px;
  }
  h3 {
    font-style: italic;
    font-size: 14px;
  }
}
